<% include  ./view_distribution/top1.ejs%>
<% include  ./view_distribution/top2.ejs%>
<% include  ./view_distribution/sidebar-left.ejs%>
<h1 class="center"><%= title || '404 Not Found' %></h1>
<h3 class="center">Ups... Parece que algo salió mal.<br>Puede ser una de las siguiente 3 razones:</h3>
<h4 class="center">Hay un problema con el recurso que buscas.</h4>
<h4 class="center">El recurso que buscas no existe.</h4>
<h4 class="center">No tienes permiso para acceder a este recurso.</h4>
<% include  ./view_distribution/sidebar-right.ejs%>
<% include  ./view_distribution/bot1.ejs%>
<% include  ./view_distribution/bot2.ejs%>