<% include  ../view_distribution/top1.ejs%>
<% include  ../view_distribution/top2.ejs%>
<% include  ../view_distribution/sidebar-left.ejs%>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <h4 class="">Cambiar de contraseña</h4>
                    <h5><small><span style="color:red">*</span> = Campo Obligatorio</small></h5>
                    <input id="user_id" type="hidden" value="<%= user._id%>" class="validate">
                    <div class="input-field col l12 m12 s12">
                        <input id="password_actual" type="password" class="validate">
                        <label for="password_actual">Contraseña actual <span style="color:red">*</span></label>
                    </div>
                    <div class="input-field col l12 m12 s12">
                        <input id="password_nuevo" type="password" class="validate confirmacion">
                        <label for="password_nuevo">Contraseña nueva<span style="color:red">*</span></label>
                    </div>
                    <div class="input-field col l12 m12 s12">
                        <input id="password_nuevo_repeat" type="password" class="validate confirmacion">
                        <label for="password_nuevo_repeat">Repetir contraseña nueva <span style="color:red">*</span></label>
                    </div>
                </div>
                <div class="col l12 m12 s12 text-center">
                    <button class="col l12 m12 s12 btn waves-effect green waves-light disabled" id="enviar_data">
                        <i class="material-icons">save</i>
                        <span style="position: relative; bottom: 4px;"> Guardar</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<% include  ../view_distribution/sidebar-right.ejs%>
<% include  ../view_distribution/bot1.ejs%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment-with-locales.min.js"></script>
<script>
    $(document).ready(function () {
        console.log('Preparado para enviar');

        $('.confirmacion').keyup(function () {
            const password_nuevo = $('#password_nuevo').val()
            const password_nuevo_repeat = $('#password_nuevo_repeat').val()

            if (password_nuevo != password_nuevo_repeat) {
                $('#enviar_data').addClass('disabled')
            } else if (password_nuevo && password_nuevo_repeat != "") {
                $('#enviar_data').removeClass('disabled')
            }
        })

        $('#enviar_data').click(function () {
            const url = '/api/users/password';
            const method = 'POST'
            const password_actual = $("#password_actual").val() || null;
            const password_nuevo = $("#password_nuevo").val() || null;
            const password_nuevo_repeat = $("#password_nuevo_repeat").val() || null;

            const body = {
                password_actual,
                password_nuevo,
                password_nuevo_repeat,
            }

            $.ajax({
                method: method,
                url: url,
                data: body,
                success: function (response) {
                    console.log(response);
                    Materialize.toast('Contraseña modificada con éxito.', 4000, 'rounded green')
                    setTimeout(function () {
                        location.href = "/"
                    }, 2000);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus);
                    console.log(errorThrown);
                    console.log(jqXHR);
                    Materialize.toast(
                        `Hubo un error en los datos proporcionados.<br>Verificar e Intentar de nuevo.<br>${htmlErrors}`,
                        10000, 'rounded red');
                }
            })

        })
    })
</script>

<% include  ../view_distribution/bot2.ejs%>