<li class="bold">
  <a href="/" class="waves-effect waves-cyan">
    <b>
      <i class="material-icons">pie_chart_outlined</i>
      <span class="nav-text">Dashboard</span>
    </b>
  </a>
</li>
<li class="bold">
  <div class="collapsible-header"><i class="material-icons">person</i>Usuarios</div>
  <div class="collapsible-body grey lighten-5">
    <a href="/users" class="waves-effect collection-item waves-cyan"
      style="padding-left: 20px; width: 95%;">
      <i class="material-icons">person_pin</i>
      <span class="nav-text">Ver Admin. de Sedes</span>
    </a>
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header"><i class="material-icons">person_add</i>Crear</div>
        <div class="collapsible-body">
          <a href="/users/crearAdminSede" class="waves-effect collection-item waves-cyan"
            style="padding-left: 20px; width: 95%;">
            <i class="material-icons">pie_chart_outlined</i>
            <span class="nav-text">Administrador de Sede</span>
          </a>
          <a href="/users/crearProfesional" class="waves-effect collection-item waves-cyan"
            style="padding-left: 20px; width: 95%;">
            <i class="material-icons">pie_chart_outlined</i>
            <span class="nav-text">Profesionales</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</li>
