    </div>
</div>
<footer class="page-footer gradient-45deg-light-blue-cyan">
    <div class="footer-copyright">
        <div class="container">
            <span>Copyright ©
                <script type="text/javascript">
                    document.write(new Date().getFullYear());
                </script> <a class="grey-text text-lighten-2">Psicoconsul Web</a> Todos los derechos reservados.</span>
            <span class="right hide-on-small-only"> Diseñado y desarrollado por <a class="grey-text text-lighten-2"
                    target="_blank" href="https://rcesoftgroup.com/">RCE Softgroup</a></span>
        </div>
    </div>
</footer>

<script type="text/javascript" src="https://cdnmetamedic.s3.amazonaws.com/vendors/jquery-3.2.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.fancytable/dist/fancyTable.min.js"></script>
<!--materialize js-->
<script type="text/javascript" src="https://cdnmetamedic.s3.amazonaws.com/js/materialize.js"></script>
<!--intl-input js-->
<script type="text/javascript" src="https://cdnmetamedic.s3.amazonaws.com/js/intl-input/intlTelInput.js"></script>
<!--scrollbar-->
<script type="text/javascript"
src="https://cdnmetamedic.s3.amazonaws.com/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" src="https://cdnmetamedic.s3.amazonaws.com/js/plugins.js"></script>
<!--custom-script.js - Add your own theme custom JS-->
<script type="text/javascript" src="https://cdnmetamedic.s3.amazonaws.com/js/custom-script.js"></script>