<script type="text/javascript" src="https://cdnmetamedic.s3.amazonaws.com/vendors/jquery-3.2.1.min.js">
          </script>
          <!--materialize js-->
          <script type="text/javascript" src="https://cdnmetamedic.s3.amazonaws.com/js/materialize.min.js"></script>
          <!--scrollbar-->
          <script type="text/javascript"
              src="https://cdnmetamedic.s3.amazonaws.com/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
          <!--plugins.js - Some Specific JS codes for Plugin Settings-->
          <script type="text/javascript" src="https://cdnmetamedic.s3.amazonaws.com/js/plugins.js"></script>
          <!--custom-script.js - Add your own theme custom JS-->
          <script type="text/javascript" src="https://cdnmetamedic.s3.amazonaws.com/js/custom-script.js"></script>
          </body>

          </html>