<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> -->

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <title><%= title %></title>
    <!-- Favicons-->
    <link rel="icon" href="https://cdnmetamedic.s3.amazonaws.com/images/logo/head.ico" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed"
        href="https://cdnmetamedic.s3.amazonaws.com/images/logo/head.ico">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage"
        content="https://cdnmetamedic.s3.amazonaws.com/images/logo/head.ico">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    <link href="https://cdnmetamedic.s3.amazonaws.com/css/materialize.css" type="text/css" rel="stylesheet">
    <link href="https://cdnmetamedic.s3.amazonaws.com/css/style.css" type="text/css" rel="stylesheet">
    <!-- intl-input CSS-->
    <link href="https://cdnmetamedic.s3.amazonaws.com/css/intlTelInput.css" type="text/css" rel="stylesheet">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="https://cdnmetamedic.s3.amazonaws.com/vendors/perfect-scrollbar/perfect-scrollbar.css" type="text/css"
        rel="stylesheet">
    <link href="https://cdnmetamedic.s3.amazonaws.com/vendors/flag-icon/css/flag-icon.min.css" type="text/css"
        rel="stylesheet">

    <!-- timepicker -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <style>
        .login-bg {
            background-image: url("https://cdnmetamedic.s3.amazonaws.com/images/flat-bg.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        #login-page {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            position: relative;
            top: 16vh;
        }

        #login-page .card-panel.border-radius-6.login-card {
            margin-left: 0 !important;
            background-color: rgba(255, 255, 255, .8);
        }
    </style>
</head>

<body>
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>