<% include  ../view_distribution/top1.ejs%>
<% include  ../view_distribution/top2.ejs%>
<% include  ../view_distribution/sidebar-left.ejs%>
<section id="content">
    <div class="container">
        SOy la parametrización de sede
    </div>
</section>
<% include  ../view_distribution/sidebar-right.ejs%>

<% include  ../view_distribution/bot1.ejs%>
<% include  ../view_distribution/bot2.ejs%>